<%
    var tocContents = toc(page.content, {list_number: false});
%>


<article class="post">
    <h1 class="post-title"><%=page.title%></h1>
    <% if (tocContents.length > 0) { %>
        <h2><%=__('post.toc')%></h2>
        <%-tocContents%>
        <br>
    <% } %>
    <%-page.content%>
</article>
<div class="post-footer">
    <div class="post-author">
        <span><%=__('post.created_at')%> <%=page.date.format('ll')%></span>
    </div>
    <div class="post-category">
        <% if (page.categories.length > 0) { %>
            <span>「<% page.categories.forEach(function(category, index) { %>
                        <% if (index>0) {%>、<% } %>
                        <a href="/categories/<%=category.name%>"><%=category.name%></a>
                    <% }); %>」
            </span>
        <% } %>
    </div>
    <div class="post-tags">
        <% if (page.tags.length > 0) { %>
            <% page.tags.forEach(function(tag, index) { %>
                <% if (index>0) {%>、<% } %>
                <a href="/tags/<%=tag.name%>">#<%=tag.name%></a>
            <% }); %>
        <% } %>
    </div>
    <% if (page.prev || page.next){ %>
        <div class="pagination">
            <% if (page.next){ %>
                <div class="nav-next nav-item">
                    <a href="<%- url_for(page.next.path) %>">
                        <i class="fa fa-angle-left"></i>
                        <span><%=page.next.title%></span>
                    </a>
                </div>
            <% } %>
            <% if (page.prev){ %>
                <div class="nav-prev nav-item">
                    <a href="<%- url_for(page.prev.path) %>">
                        <span><%=page.prev.title%></span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            <% } %>
        </div>
    <% } %>
</div>
<script src="https://giscus.app/client.js"
        data-repo="duskdusts/duskdusts.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyNTg4MjY4NDg="
        data-category="Announcements"
        data-category-id="DIC_kwDOD21iYM4CSywL"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']],
                processEscapes: true,
                processEnvironments: true
            },
            options: {
                renderActions: {
                    findScript: [10, function (doc) {
                        document.querySelectorAll('script[type^="math/tex"], script[type^="math/tex;mode=display"]').forEach(function (node) {
                            const display = !!node.type.match(/; *mode=display/);
                            const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
                            const text = document.createTextNode('');
                            node.parentNode.replaceChild(text, node);
                            math.start = {node: text, delim: '', n: 0};
                            math.end = {node: text, delim: '', n: 0};
                            doc.math.push(math);
                        });

                        document.querySelectorAll('p').forEach(function (node) {
                            const displayMathRegex = /\$\$(.*?)\$\$/g;
                            const inlineMathRegex = /\$(.*?)\$/g;

                            let textContent = node.innerHTML;
                            let match;

                            // Process display math
                            while (match = displayMathRegex.exec(textContent)) {
                                const math = new doc.options.MathItem(match[1], doc.inputJax[0], true);
                                const text = document.createTextNode('');
                                textContent = textContent.replace(match[0], text.textContent);
                                math.start = {node: text, delim: '', n: 0};
                                math.end = {node: text, delim: '', n: 0};
                                doc.math.push(math);
                            }

                            // Process inline math
                            while (match = inlineMathRegex.exec(textContent)) {
                                const math = new doc.options.MathItem(match[1], doc.inputJax[0], false);
                                const text = document.createTextNode('');
                                textContent = textContent.replace(match[0], text.textContent);
                                math.start = {node: text, delim: '', n: 0};
                                math.end = {node: text, delim: '', n: 0};
                                doc.math.push(math);
                            }

                            node.innerHTML = textContent;
                        });
                    }, '']
                }
            }
        };
    </script>